@font-face {
	font-family: 'Baloo Thambi 2';
	src: url(../../assets/fonts/BalooThambi2-Regular.woff2) format('woff2'),
	url(../../assets/fonts/BalooThambi2-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}